.modal-content
{
  border: 4px dotted #f9d21a;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #d52027;
}


.loading-circle
{  
  background: url('../img/ajax-loader.gif') no-repeat right 1px;
}

.td_select
{
    background-color:red!important;
}

