@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);
/*font-family: 'Open Sans', sans-serif;*/
body { font-size: 15px; font-weight: 300; background: #fff; padding: 0px; margin: 0px; color: #626567; font-family: 'Lato', sans-serif; }
ul { padding-left: 0px; margin: 0px; list-style-type: none; }
.clear { clear: both; }
a, a:hover, a:focus, hover, button, .btn, em, input { box-shadow: none; webkit-transition: all .3s ease-in; transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in; text-decoration: none; }
a:hover, a:focus { color: #0374d8; }
p, address, li, span, blockquote, small, a, address { color: #626567; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: 'Lato', sans-serif; margin-top: 0px; padding: 0px; line-height: normal; }
h4, h5, h6 { font-weight: bold; }
.btn { font-size: 16px; padding: 12px 25px; font-weight: bold; box-shadow: none; line-height: normal; text-transform: uppercase; color: #FFF; background: #4ed963; border: none; }
.btn:hover, .btn:focus { box-shadow: none; border: none; color: #fff; background: #0580ed; }
.carousel-caption p { background: none; padding: 0px; margin-bottom: 12px; font-size: 18px; }
input, input:hover, input:focus, select, select:hover, select:focus { box-shadow: none; outline: none; border: none !important; }
.form-control:focus { outline: none; border-color: inherit; -webkit-box-shadow: none; box-shadow: none; }
.form-control:-moz-placeholder {
color:#626567;
}
.form-control::-moz-placeholder {
color:#626567;
}
.form-control:-ms-input-placeholder {
color:#626567;
}
.form-control::-webkit-input-placeholder {
color:#626567;
}
.welcome-nationwide h2 span, .physician-benefits h3 span { border-bottom: 2px solid #057eea; }
/*-- header start here --*/
header.header { background: url(assets/img/header-bg.png) top left; padding-bottom: 20px; }
.header-top { background: #f2f2f2; padding-top: 12px; padding-bottom: 12px; }
.header-top .log-in ul { line-height: normal; }
.header-top .log-in ul li { display: inline-block; line-height: normal; margin-left: 24px; }
.header-top .log-in ul li:first-child { margin-left: 0; }
.header-top .log-in ul li a { font-size: 14px; }
.header-top .log-in ul li a em { padding-right: 5px; }
.header-top .social-links { }
.social-links ul { line-height: normal; }
.social-links ul li { display: inline-block; margin-left: 14px; }
.social-links ul li:first-child { margin-left: 0; }
.social-links ul li a { font-size: 15px; }
.dropdown.social-links { display: none; }
.logo { margin-top: 20px; }
/*-- nav start here --*/
.custom-navbar { margin-top: 20px; margin-bottom: 0px; min-height: inherit; }
.custom-navbar .navbar-collapse.collapse { padding: 0; }
.custom-navbar .navbar-nav { float: right; }
.custom-navbar .navbar-nav>li>a { text-transform: capitalize; font-size: 16px; padding: 30px 30px 15px; color: #626567; font-weight: normal; }
.custom-navbar .navbar-nav>li:last-child a { padding-right: 0; }
.custom-navbar .nav>li>a:hover, .nav>li>a:focus { background: none; color: #27b1d2; }
.custom-navbar .navbar-nav>li.active>a { color: #27b1d2; }
/*-- header end --*/
/*-- banner start here --*/
.banner-carousel-capt { position: static; }
.banner .carousel-caption { background: url(assets/img/form-bg.jpg); left: 0px; right: 0px; bottom: 0px; }
.banner .carousel-caption .formfield, .banner .carousel-caption .formbtn { padding: 30px 15px; }
.banner .carousel-caption .formbtn { background: rgba(255,255,255,0.09); }
.banner .carousel-caption form input { padding-left: 10px; padding-right: 10px; }
.banner .carousel-caption form select { padding-left: 4px; padding-right: 4px; }
.banner .carousel-caption form input, .carousel-caption form select { color: #626567; height: 39px; border: 1px solid #066ac3 !important; }
.banner .carousel-caption form input[type="submit"] { background: #4ed963; font-size: 16px; font-weight: bold; color: #FFF; border: 1px solid #5de271 !important; display: block; width: 100%; height: inherit; line-height: 39px; padding: 0px 12px; }
.banner .carousel-caption form input[type="submit"]:hover { background: #fff; color: #4ed963; border: 1px solid #5de271 !important; }
/*-- banner end here --*/
.welcome-nationwide { padding-top: 50px; padding-bottom: 40px; }
.welcome-nationwide h2 { margin-bottom: 25px; }
.welcome-nationwide>p { font-size: 18px; font-weight: 300; }
.nationwide-services { margin-top: 35px; }
.nationwide-services span { border: 5px solid #fafafa; background: #f9f6d7; display: inline-block; border-radius: 100%; margin-bottom: 15px; -moz-border-radius: 100%; -border-radius: 100%; -border-radius: 100%; -border-radius: 100%; padding: 2px; }
.nationwide-services em { background: #f2f2f2; width: 110px; line-height: 110px; font-size: 36px; border-radius: 100%; -moz-border-radius: 100%; -border-radius: 100%; -border-radius: 100%; -border-radius: 100%; }
.nationwide-services:hover em { color: #FFF; background: #0580ed; }
.nationwide-services h4 { font-weight: bold; text-transform: capitalize; }
.find-specialist { background: #f2f2f2; padding: 45px 0px; }
.find-specialist-disc h2 { display: inline-block; margin-right: 20px; }
.chnage-location { font-size: 18px; color: #0580ed; }
.chnage-location:hover { color: #4ed963; }
.find-spec-colm { margin-top: 25px; }
.find-spec-colm h4 { font-weight: bold; color: #fff; background: #4ed963; display: inline-block; text-align: center; padding: 13px 20px; border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; min-width: 220px; }
.find-spec-colm:nth-of-type(2) h4, .find-spec-colm:nth-of-type(5) h4, .find-spec-colm:nth-of-type(8) h4 { background: #0580ed; }
.find-spec-colm:nth-of-type(3) h4, .find-spec-colm:nth-of-type(9) h4, .find-spec-colm:nth-of-type(9) h4 { background: #626567; }
.find-spec-colm ul { margin-top: 15px; }
.find-spec-colm ul li { margin-bottom: 13px; }
.find-spec-colm ul li:last-child { margin-bottom: 0px; }
.find-spec-colm .view-all em { margin-right: 6px; }
.find-spec-colm .view-all { margin-top: 30px; font-size: 16px; font-weight: normal; display: inline-block; }
.benefit-feature-row { margin-top: 50px; }
.physician-benefits h3, .features-physician h3 { text-transform: capitalize; margin-bottom: 35px; font-size: 30px; }
.physician-benefits { padding-right: 60px; }
.physician-benefits ul { padding-left: 40px; }
.physician-benefits ul li:last-chld {
margin-bottom:0px;
}
.physician-benefits ul li a { position: relative; font-size: 18px; font-style: italic; border-bottom: 1px dashed #e1e1e1; display: block; padding-bottom: 12px; margin-bottom: 11px; line-height: normal; }
.physician-benefits ul li:last-child a { padding-bottom: 0px; border-bottom: none; }
.physician-benefits ul li a:before { position: absolute; content: "\f058"; font-family: FontAwesome; left: -40px; color: #0374d8; font-style: normal; top: 3px; }
.features-physician .carousel { background: #f2f2f2; border: 5px solid #ededed; }
.features-physician .carousel-control.left { left: auto; right: 20px; }
.features-physician .carousel-control { top: -63px; bottom: inherit; width: auto; font-size: inherit; color: #fff; text-shadow: none; line-height: initial; }
.features-physician .carousel-control span { width: initial; height: initial; margin-top: 0px; font-size: 15px; }
.features-physician .carousel-control:hover span { color: #0374d8; }
.feat-phys-img { float: left; width: 40%; padding-right: 15px; }
.feat-phys-detail { padding-top: 20px; float: left; width: 60%; padding-left: 15px; }
.feat-phys-detail p { line-height: initial; }
.feat-phys-detail span { display: block; }
.feat-phys-detail span a { color: #0374d8; }
.feat-phys-detail span a:hover { color: #626567; }
.more-phys { color: #FFF; background: #0580ed; display: block; font-size: 24px; margin-top: 20px; display: block; position: relative; padding: 0px 25px; line-height: 50px; font-weight: normal; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; }
.more-phys:hover { color: #FFF; background: #626567; }
.more-phys:before { content: "\f061"; font-family: FontAwesome; position: absolute; right: 25px; font-size: 20px; line-height: 50px; }
.footer { padding-top: 35px; background: url(assets/img/footer-bg.jpg); margin-top: 50px; }
.footer p, .footer a, .footer li, .footer ul, .footer span, .footer em { color: #FFF; font-size: 14px; line-height: normal; }
.footer a:hover { color: rgb(78, 167, 246); }
.footer h3, .footer h4 { margin-bottom: 20px; font-size: 20px; font-weight: normal; text-transform: capitalize; color: #FFF; }
.latest-forum-post { float: left; width: 100%; border-bottom: 1px solid #7b7f81; padding-bottom: 10px; margin-bottom: 10px; }
.latest-forum-post:last-of-type { padding-bottom: 0px; margin-bottom: 0px; border-bottom: none; }
.latest-forum-post p { line-height: normal; margin-bottom: 5px; }
.latest-forum-post ul { line-height: normal; }
.latest-forum-post ul li { float: left; padding-left: 7px; border-left: 1px solid #fff; margin-left: 8px; }
.latest-forum-post ul li:first-child { padding-left: 0px; margin-left: 0px; border-left: none; }
.latest-forum-post ul li a { font-weight: normal; }
.quick-links ul li { margin-bottom: 15px; }
.quick-links ul li:last-child { margin-bottom: 0px; }
.quick-links ul li a { position: relative; padding-left: 18px; display: inline-block; }
.quick-links ul li a:before { content: ''; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid; font-family: FontAwesome; position: absolute; left: 0px; top: 4px; }
.get-in-touch address { margin-bottom: 0px; }
.get-in-touch address p { margin-bottom: 15px; }
.get-in-touch address p:last-child { margin-bottom: 0px; }
.get-in-touch p em { width: 20px; }
.newsletter form { margin-bottom: 30px; margin-top: 25px; }
.newsletter form input { border: none; background: #aeafb0; height: 34px; margin-bottom: 20px; }
.newsletter form input[type="submit"] { background: #4ed963; color: #FFF; height: auto; line-height: 34px; margin-bottom: 0px; padding: 0px 21px; }
.newsletter form input[type="submit"]:hover { background: #0374d8; }
.copyrights-sect { padding: 15px 0px; margin-top: 45px; background: #57595b; }
.copyrights-sect p { text-transform: uppercase; font-weight: normal; margin-bottom: 0px; }
.copyrights-sect p span { color: #0374d8; }
/*-- footer --*/


/*-- left content code start here --*/
.left-content { margin-top: 45px; }
.left-content h2 span { color: #0580ed; }
.checkbox-cont ul { border: 1px solid #e6e6e6; padding: 20px; }
.checkbox-cont ul li { margin-bottom: 10px; display: inline-block; width: 33%; vertical-align: top; }
.checkbox-cont ul li:nth-child(odd) { padding-right: 10px; }
.checkbox-cont ul li label { font-weight: 300; margin: 0px; padding-left: 35px; position: relative; line-height: normal; }
.checkbox-cont ul li label input { float: left; margin: 0px; position: absolute; width: 15px; left: 0px; height: 15px; margin-top: 3px; }
.checkbox-cont ul li label span { padding-left: 30px; }
.sortby-colm { margin-top: 30px; }
.sortby { padding: 15px 20px; background: #0580ed; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; }
.sortby span { display: inline-block; }
.sortby label { color: #FFF; font-size: 15px; text-transform: capitalize; font-weight: 300; line-height: normal; margin-bottom: 0px; border-radius: 3px; }
.sortby select { font-weight: bold; margin-left: 5px; padding: 2px 3px; font-size: 14px; border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; -webkit-border-radius: 2px; }
.sortby ul { padding-left: 15px; display: inline-block; }
.sortby ul li { display: inline-block; }
.sortby ul li:first-child a { padding-left: 0px; border-left: none; }
.sortby ul li a { color: #FFF; border-left: 1px solid #FFF; line-height: normal; padding: 0px 15px 0px 17px; display: block; }
.dr-listing { margin-top: 33px; }
.dr-listing-colm { border-bottom: 1px solid #e4e4e4; float: left; padding-bottom: 33px; margin-bottom: 33px; width: 100%; }
.dr-list-img figure { padding: 10px; border: 1px solid #e4e4e4; }
.dr-list-img { width: 20%; float: left; padding-right: 15px; }
.dr-list-img figure img { width: 100%; }
.dr-list-det { float: left; width: 80%; padding-left: 15px; }
.dr-list-det h4 { font-weight: normal; }
.dr-list-det .dr-address { padding-left: 25px; position: relative; display: block; }
.dr-list-det .dr-address em { position: absolute; left: 0px; top: 2px; }
.dr-job, .dr-contact { margin-top: 13px; vertical-align: top; display: inline-block; }
.dr-job { width: 40%; padding-right: 20px; }
.dr-contact { width: 58%; }
.dr-job li a { position: relative; padding-left: 25px; color: #0580ed; display: inline-block; line-height: normal; }
.dr-job li a:before { position: absolute; content: "\f058"; font-family: FontAwesome; left: 0px; color: #0580ed; font-style: normal; top: 3px; }
.dr-contact li { position: relative; padding-left: 25px; }
.dr-contact li em { position: absolute; left: 0px; top: 5px; }
.dr-job li, .dr-contact li { margin-bottom: 4px; }
.patient-satisfication { margin-top: 15px; }
.patient-satisfication span, .patient-satisfication ul { vertical-align: top; display: inline-block; }
.patient-satisfication span { width: 40%; }
ul.pt-satisf { padding: 3px 8px; border: 1px solid #e4e4e4; line-height: initial; border-radius: 2px; display: inline-block; }
ul.pt-satisf li { padding: 0px 3px; display: inline-block; }
ul.pt-satisf li a { color: #eaa717; }
ul.pt-satisf li a:hover { color: #0580ed; }
.pager-row { float: left; width: 100%; }
.pager-row .pagination { margin: 0px 0; padding: 0px; }
.pager-row .pagination li { display: inline-block; margin-right: 14px; }
.pagination>li>a, .pagination>li>span { padding: 0px 5px; font-size: 16px; font-weight: normal; background-color: #f2f2f2; border: none; text-transform: capitalize; margin-left: 0px; min-width: 35px; line-height: 35px; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; }
.pagination>li>a:hover, .pagination>li>span:hover { color: #fff; background-color: #0580ed; }
.pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li:first-child>a, .pagination>li:first-child>span { background: none; color: #626567; }
.pagination>li:last-child>a:hover, .pagination>li:last-child>span:hover, .pagination>li:first-child>a:hover, .pagination>li:first-child>span:hover { background: none; color: #0580ed; }
.pager-row .pagination>.active>a, .pager-row .pagination>.active>span, .pager-row .pagination>.active>a:hover, .pager-row .pagination>.active>span:hover, .pager-row .pagination>.active>a:focus, .pager-row .pagination>.active>span:focus { color: #fff; background-color: #0580ed; }
/*-- left content code end here --*/
/*-- Sidebar code Start here --*/
.sidebar { margin-top: 45px; }
.popular-searches { border: 1px solid #e5e5e5; border-top: 4px solid #0580ed; padding: 25px 25px; }
.popular-searches ul { margin-top: 20px; }
.popular-searches ul li { margin-bottom: 20px; }
.popular-searches ul li:last-child { margin-bottom: 0px; }
.popular-searches ul li a { color: #0580ed; position: relative; display: inline-block; padding-left: 33px; }
/*.popular-searches ul li a:hover { color:#626567;}*/
.popular-searches ul li a:before { color: #626567; content: "\f061"; font-family: FontAwesome; left: 0px; position: absolute; }
.online-directory { margin-top: 30px; }
.doct-alert { margin-top: 30px; position: relative; }
.doct-alert figcaption { position: absolute; top: 20px; width: 46%; }
.doct-alert figcaption h4 { font-size: 30px; font-weight: normal; }
.doct-alert figcaption .btn { margin-top: 15px; }
.latest-news { margin-top: 30px; }
.latest-news h3 { border-bottom: 4px solid #626567; font-weight: bold; padding-bottom: 10px; }
.lt-nes-colm { padding-top: 25px; padding-bottom: 25px; border-bottom: 1px solid #e7e7e7; }
.lt-nes-colm:last-child { padding-bottom: 0px; border-bottom: none; }
.lt-nes-colm figure { margin-bottom: 10px; width: 20%; display: inline-block; vertical-align: top; }
.lt-nes-colm .lt-news-title { display: inline-block; width: 79%; padding-left: 20px; vertical-align: top; }
.lt-nes-colm .lt-news-title h5 { font-weight: normal; font-size: 16px; margin-bottom: 5px; }
.lt-nes-colm .lt-news-title span { color: #0580ed; font-size: 11px; font-style: italic; font-weight: normal; display: block; margin-bottom: 5px; }
.lt-nes-colm .fa { background: #0580ed; width: 22px; line-height: 22px; color: #FFF; text-align: center; font-size: 16px; }
.lt-nes-colm .fa:hover { background: #4ed963; }
/*-- Sidebar code End here --*/
.dr-det-prof { background: #f2f2f2; padding: 40px 0px; }
.prof-img figure { background: #FFF; padding: 15px; }
.prof-img figure img { width: 100%; }
.prof-disc h1 { margin-bottom: 5px; }
.abt-dr { font-size: 21px; font-style: italic; display: block; margin-bottom: 20px; }
.abt-dr ul { display: inline-block; }
.abt-dr ul li { position: relative; padding-left: 10px; display: inline-block; margin-left: 5px; }
.abt-dr ul li:before { content: "\f111"; position: absolute; font-family: Fontawesome; font-size: 7px; left: 0px; font-style: normal; top: 13px; }
.dr-links { font-weight: normal; color: #0580ed; }
.dr-det-left, .dr-det-right { display: inline-block; vertical-align: top; }
.dr-det-right p { margin-bottom: 0px; }
.dr-det-left { width: 22%; }
.dr-det-right { width: 76%; }
.prof-disc .pt-satisf { background: #fff; margin-bottom: 10px; }
.link-sp { display: block; }
.dr-det-right { border-left: 1px solid #d7d7d7; padding-left: 45px; }
.btn-links { margin-top: 40px; }
.btn-links .btn { margin-right: 17px; background: #0580ed; padding: 10px 20px; font-size: 15px; }
.btn-links .btn:hover { background: #4ed963; }
.tab-links { margin-top: 45px; }
.dr-tabs.nav-tabs { margin-bottom: 0px; margin-right: 0px; padding-right: 0px; border: none; background: none; }
.dr-tabs.nav-tabs>li { margin-bottom: 0px; margin-right: 10px; }
.dr-tabs.nav-tabs>li>a { margin-right: 0px; border: 1px solid #e7e7e7; color: #626567; font-size: 18px; background: #f2f2f2; padding: 6px 25px; position: relative; font-weight: normal; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; }
.dr-tabs.nav-tabs>li>a em { margin-right: 8px; }
.dr-tabs.nav-tabs .active>a, .dr-tabs.nav-tabs .active>a, .dr-tabs.nav-tabs .active>a:hover, .dr-tabs.nav-tabs .active>a:focus, .dr-tabs.nav-tabs a:hover { box-shadow: none; background: #4ed963; border: 1px solid #43be56; color: #f2f2f2; }
.dr-tabs.nav-tabs a:hover em { color: #f2f2f2; }
.dr-title { margin-bottom: 30px; }
.dr-title span { display: block; font-size: 25px; }
.dr-title h2 { font-size: 36px; }
.dr-det-sect { padding-bottom: 50px; }
.dr-det-sect:last-of-type { padding-bottom: 0px; }
.icon-colm { float: left; width: 100%; }
.icon-colm .fa { float: left; width: 105px; line-height: 105px; background: #0580ed; color: #fff; font-size: 48px; text-align: center; border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; -webkit-border-radius: 100%; }
.det-title { padding-left: 140px; padding-top: 20px; }
.det-title h3 { font-size: 30px; text-transform: capitalize; margin-bottom: 0px; }
.det-title span { display: block; color: #0580ed; font-size: 18px; font-weight: normal; }
.dr-det-btm { float: left; width: 100%; margin-top: 40px; }
.phone-address-bg { background: #f2f2f2; padding: 30px; }
.phone-address-bg address { margin-bottom: 0px; float: left; width: 40%; }
.phone-address-bg address p { font-weight: normal; margin-bottom: 8px; }
.phone-address-bg address a.direct-link { font-weight: normal; color: #0580ed; }
.phone-address-bg .gmap { float: left; width: 60%; min-height: 235px; }
.phone-address-bg .btn-links { margin-top: 30px; float: left; width: 100%; }
.dr-exp { float: left; width: 55%; padding-right: 20px; }
.dr-exp h5 { font-weight: normal; font-size: 18px; margin-bottom: 5px; }
.dr-exp ul { }
.dr-exp ul li { margin-bottom: 3px; }
.dr-exp ul li a, .dr-exp .view-all { position: relative; font-weight: normal; padding-left: 25px; }
.dr-exp ul li a:before, .dr-exp .view-all:before { font-family: Fontawesome; position: absolute; left: 0px; content: "\f101"; }
.dr-exp ul li a:hover, .view-all { color: #0580ed; }
.view-all:hover { color: #4ed963; }
.exp-links { margin-bottom: 15px; }
.exp-links:last-child { margin-bottom: 0px; }
.quote-colm { padding: 25px 30px; border: 1px solid #e9e9e9; float: left; width: 100%; }
.quote-colm em { font-size: 20px; margin-bottom: 10px; }
.quote-colm p { text-align: center; font-size: 17px; margin-bottom: 0px; font-style: italic; }
.hospital-quality-bg { background: #f2f2f2; padding: 35px; }
.hospital-left { float: left; padding-right: 20px; width: 60%; }
.hospital-left h4 { font-weight: normal; }
.hospital-left p { font-weight: normal; }
.hospital-left ul li { float: left; text-align: center; width: 50%; margin-top: 30px; }
.hospital-left ul li:nth-of-type(1), .hospital-left ul li:nth-of-type(2) { margin-top: 0px; }
.hospital-left ul li:nth-of-type(odd) { padding-right: 15px; }
.hospital-left ul li img { display: inline-block; }
.hospital-right { float: left; width: 40%; }
.hospital-right ul li:first-child { margin-top: 0px; }
.hospital-right ul li { margin-top: 20px; }
.reviews-disc, .reviews-star, .survey-results, .take-survey { display: inline-block; vertical-align: top; }
.reviews-disc { width: 55%; padding-right: 35px; }
.reviews-disc p { font-weight: normal; }
.reviews-disc p:last-child { margin-bottom: 0px; }
.reviews-star { width: 43%; }
.reviews-star ul.pt-satisf { padding: 16px 8px; text-align: center; border-radius: 2px; display: block; }
.reviews-star ul.pt-satisf li { padding-left: 35px; padding: 3px 10px; }
.reviews-star ul.pt-satisf li a { font-size: 30px; }
.survey-results { padding-right: 20px; margin-top: 20px; width: 55%; }
.take-survey { margin-top: 20px; width: 43%; }
.survey-results h4 { margin-bottom: 5px; font-weight: normal; }
.survey-results ul li { margin-bottom: 5px; }
.survey-results ul li a { display: inline-block; position: relative; font-weight: normal; color: #0580ed; padding-left: 25px; }
.survey-results ul li a:before { font-family: Fontawesome; position: absolute; left: 0px; content: "\f101"; }
.survey-results ul li a:hover, .take-survey a:hover { color: #4ed963; }
.take-survey { font-weight: 400; }
.take-survey p { margin-bottom: 1px; }
.take-survey a { color: #0580ed; }
.more-spec-bg { border-top: 4px solid #0580ed; padding: 25px 0px 0px; float: left; width: 100%; }
.more-spec-bg h3 { line-height: 30px; }
.show-more-provider p { margin-bottom: 3px; }
.show-more-provider ul li a { display: inline-block; position: relative; color: #0580ed; padding-left: 20px; }
.show-more-provider ul li a:before { font-family: Fontawesome; position: absolute; left: 0px; content: "\f101"; }
.show-more-provider ul li a:hover { color: #4ed963; }
.more-sergen-colm { border-bottom: 1px solid #e3e3e3; padding-top: 25px; padding-bottom: 25px; width: 100%; float: left; }
.more-sergen-colm figure { float: left; width: 17%; }
.more-sergen-colm .more-sergen-disc { float: left; width: 83%; padding-left: 25px; }
.more-sergen-colm .more-sergen-disc h5 { font-size: 18px; font-weight: normal; margin-bottom: 5px; }
.more-sergen-colm .more-sergen-disc ul.pt-satisf { padding: 2px 5px; }
.more-sergen-colm .more-sergen-disc ul.pt-satisf li a { font-size: 14px; }
 @media(min-width:992px) and (max-width:1199px) {
.custom-navbar .navbar-nav>li>a { padding: 25px 22px 15px; font-size: 15px; }
.feat-phys-img { width: 37%; }
.feat-phys-detail { padding-top: 10px; width: 63%; padding-left: 10px; }
.feat-phys-detail h4 { margin-bottom: 6px; font-size: 16px; }
.feat-phys-detail p { margin-bottom: 6px; }
.physician-benefits { padding-right: 15px; }
.physician-benefits ul li a { font-size: 16px; padding-bottom: 8px; margin-bottom: 9px; }
.more-phys { font-size: 20px; }
.more-phys:before { font-size: 16px; }
.physician-benefits h3, .features-physician h3 { margin-bottom: 30px; font-size: 26px; }
.features-physician .carousel-control { top: -60px; }
.popular-searches { padding: 20px 20px; }
.popular-searches ul li a { padding-left: 20px; }
.popular-searches ul li { margin-bottom: 15px; }
.popular-searches ul li a:before { font-size: 12px; top: 3px; }
.checkbox-cont ul li label { padding-left: 25px; }
.lt-nes-colm .lt-news-title { padding-left: 15px; }
.lt-nes-colm .lt-news-title h5 { font-size: 15px; }
.dr-list-det .dr-address { padding-left: 20px; }
.dr-job { width: 41%; padding-right: 10px; }
.dr-job li a { padding-left: 20px; }
.dr-list-det .dr-address em { top: 4px; }
.dr-job, .dr-contact { margin-top: 5px; }
.dr-job li, .dr-contact li { margin-bottom: 0px; }
.patient-satisfication span { width: 41%; }
.abt-dr ul li:before { top: 13px; }
.dr-det-left { width: 27%; }
.dr-det-right { width: 71%; }
.prof-disc .btn-links { margin-top: 30px; }
.prof-disc h1 { font-size: 30px; }
.dr-tabs.nav-tabs>li>a { font-size: 17px; padding: 6px 14px; }
.dr-tabs.nav-tabs>li>a em { margin-right: 3px; }
.dr-title { margin-bottom: 20px; }
.icon-colm .fa { width: 85px; line-height: 85px; font-size: 35px; }
.det-title { padding-left: 110px; padding-top: 15px; }
.det-title h3 { font-size: 24px; }
.det-title span { font-size: 16px; }
.dr-det-btm { margin-top: 30px; }
.phone-address-bg { padding: 20px; }
.phone-address-bg address { width: 50%; }
.phone-address-bg .gmap { width: 50%; }
.phone-address-bg .btn-links { margin-top: 20px; }
.btn-links .btn { margin-right: 10px; font-size: 14px; }
.dr-det-sect { padding-bottom: 35px; }
.quote-colm { padding: 15px 15px; }
.quote-colm p { font-size: 15px; }
.dr-exp h5 { font-size: 17px; }
.hospital-quality-bg { padding: 20px; }
.reviews-star ul.pt-satisf li a { font-size: 24px; }
.reviews-star ul.pt-satisf li { padding: 3px 8px; }
.reviews-star ul.pt-satisf { padding: 12px 7px; }
.reviews-star { width: 38%; }
.reviews-disc { width: 61%; padding-right: 30px; }
.survey-results { width: 61%; }
.take-survey { margin-top: 20px; width: 38%; }
.more-spec-bg h3 { line-height: 26px; font-size: 19px; }
.more-sergen-colm .more-sergen-disc h5 { font-size: 16px; margin-bottom: 3px; }
.more-sergen-colm .more-sergen-disc { padding-left: 15px; }
}
@media (min-width: 768px) and (max-width: 991px) {
body { font-size: 14px; line-height: 20px; }
.custom-navbar .navbar-nav>li>a { font-size: 15px; padding: 19px 15px 4px; }
.banner .carousel-caption .formfield, .banner .carousel-caption .formbtn { padding: 15px 15px; }
.banner .carousel-caption form input { padding-left: 8px; padding-right: 8px; }
.banner .carousel-caption form select { padding-left: 4px; padding-right: 4px; }
.header-top { padding-top: 8px; padding-bottom: 8px; }
header.header { padding-bottom: 12px; }
.logo { margin-top: 12px; }
.custom-navbar { margin-top: 12px; }
.banner .carousel-caption form input, .carousel-caption form select { height: 35px; }
.banner .carousel-caption form input[type="submit"] { font-size: 15px; line-height: 35px; }
.welcome-nationwide { padding-top: 25px; padding-bottom: 25px; }
.welcome-nationwide>p { font-size: 16px; }
.nationwide-services { margin-top: 20px; }
.nationwide-services em { width: 90px; line-height: 90px; font-size: 25px; }
.find-specialist { padding: 30px 0px; }
.nationwide-services h4 { font-size: 16px; }
.find-spec-colm { margin-top: 20px; }
.find-specialist-disc h2 { font-size: 24px; }
.chnage-location { font-size: 16px; }
.find-spec-colm h4 { font-size: 16px; display: block; padding: 12px 12px; min-width: inherit; }
.find-spec-colm ul li { margin-bottom: 8px; line-height: normal; }
.find-spec-colm .view-all { margin-top: 25px; font-size: 14px; }
.benefit-feature-row { margin-top: 30px; }
.physician-benefits h3, .features-physician h3 { margin-bottom: 25px; font-size: 22px; }
.features-physician .carousel-control { top: -52px; }
.features-physician .carousel-control.left { right: 15px; }
.features-physician .carousel-control span { font-size: 12px; }
.feat-phys-detail { padding-top: 5px; padding-left: 0px;/*padding-bottom: 30px;*/ }
.feat-phys-detail h4 { margin-bottom: 5px; font-size: 14px; }
.feat-phys-detail span { display: block; margin-bottom: 2px; line-height: normal; }
.feat-phys-detail p { margin-bottom: 5px; }
.more-phys { font-size: 18px; padding: 0px 15px; line-height: 44px; }
.more-phys:before { right: 15px; font-size: 16px; line-height: 44px; }
.physician-benefits ul { padding-left: 25px; }
.physician-benefits ul li a { font-size: 15px; padding-bottom: 5px; margin-bottom: 5px; }
.physician-benefits ul li a:before { left: -25px; }
.footer { padding-top: 30px; margin-top: 30px; }
.footer-colm { width: 33.33%; }
.footer-colm.newsletter { width: 100%; margin-top: 15px; padding-top: 15px; }
.footer-colm.newsletter:before { content: ''; position: absolute; height: 1px; width: 720px; background: #7b7f81; top: 0px; }
.footer h3, .footer h4 { margin-bottom: 12px; font-size: 19px; }
.newsletter form { margin-bottom: 0px; margin-top: 5px; float: left; width: 100%; }
.newsletter form input { margin-bottom: 0px; width: 70%; float: left; }
.newsletter form input[type="submit"] { width: 26%; margin-left: 4%; }
.sub-newsletter { float: left; width: 67%; padding-right: 15px; }
.footer .social-links { float: left; width: 33%; padding-left: 15px; }
.copyrights-sect { padding: 12px 0px; margin-top: 30px; }
.left-content h2 { font-size: 24px; }
.checkbox-cont ul li { margin-bottom: 5px; width: 49%; }
.checkbox-cont ul li label { padding-left: 20px; }
.checkbox-cont ul li label input { width: auto; height: auto; margin-top: 2px; }
.sortby { padding: 12px 10px; }
.sortby label { font-size: 14px; }
.sortby select { padding: 2px 2px; font-size: 12px; }
.sortby ul { padding-left: 5px; }
.sortby ul li a { padding: 0px 5px 0px 5px; }
.dr-list-det .dr-address em { top: 4px; }
.dr-list-det .dr-address { padding-left: 20px; }
.dr-job li a { padding-left: 20px; }
.dr-list-det { padding-left: 5px; }
.dr-list-img figure { padding: 5px; }
.dr-listing-colm { padding-bottom: 20px; margin-bottom: 20px; }
.dr-job { width: 41%; padding-right: 10px; }
.dr-job, .dr-contact { margin-top: 10px; }
.dr-job li, .dr-contact li { margin-bottom: 2px; }
.pagination>li>a, .pagination>li>span { font-size: 14px; }
.pager-row .pagination li { margin-right: 10px; }
.lt-nes-colm { padding-top: 15px; padding-bottom: 15px; }
.lt-nes-colm .lt-news-title { width: 78%; padding-left: 12px; }
.lt-nes-colm .lt-news-title h5 { font-size: 14px; }
.doct-alert figcaption h4 { font-size: 20px; margin-bottom: 5px; }
.doct-alert figcaption { top: 10px; width: 60%; }
.doct-alert figcaption .btn { font-size: 14px; padding: 8px 18px; }
.popular-searches { padding: 15px 15px; }
.popular-searches ul li a:before { font-size: 11px; }
.popular-searches ul li a { padding-left: 20px; }
.popular-searches ul li { margin-bottom: 10px; }
.checkbox-cont ul { padding: 15px; }
.dr-det-prof { padding: 30px 0px; }
.prof-img figure { padding: 8px; }
.prof-disc h1 { font-size: 27px; margin-bottom: 0px; }
.abt-dr { font-size: 18px; margin-bottom: 12px; }
.abt-dr ul li:before { top: 3px; }
.dr-det-left { width: 35%; }
.dr-det-right { width: 63%; }
.btn-links { margin-top: 20px; }
.btn-links .btn { margin-right: 3px; padding: 8px 15px; font-size: 12px; letter-spacing: 0.3px; }
.dr-tabs.nav-tabs>li>a { font-size: 14px; padding: 4px 15px; font-weight: bold; }
.dr-tabs.nav-tabs>li { margin-right: 5px; }
.dr-tabs.nav-tabs>li>a em { margin-right: 1px; display: none; }
.tab-links { margin-top: 35px; }
.dr-title h2 { font-size: 30px; }
.dr-title span { font-size: 18px; margin-bottom: 5px; }
.left-content { margin-top: 35px; }
.sidebar { margin-top: 35px; }
.dr-title { margin-bottom: 10px; }
.dr-det-btm { margin-top: 25px; }
.icon-colm .fa { width: 50px; line-height: 50px; font-size: 24px; }
.det-title { padding-left: 65px; padding-top: 5px; }
.det-title h3 { font-size: 20px; }
.det-title span { font-size: 15px; }
.phone-address-bg { padding: 20px; }
address { line-height: 20px; }
.phone-address-bg .gmap { width: 50%; min-height: 205px; }
.phone-address-bg address { width: 50%; }
.phone-address-bg .btn-links { margin-top: 20px; }
.dr-exp { width: 100%; padding-right: 0px; }
.quote-colm { margin-top: 20px; padding: 15px 20px; }
.quote-colm p { line-height: 24px; }
.dr-det-sect { padding-bottom: 30px; }
.hospital-quality-bg { padding: 20px; }
.hospital-left h4 { margin-bottom: 5px; }
.hospital-left ul li { margin-top: 15px; }
.reviews-star ul.pt-satisf li { padding: 0px 4px; }
.reviews-star ul.pt-satisf li a { font-size: 18px; }
.reviews-star ul.pt-satisf { padding: 10px 8px; }
.reviews-disc { width: 62%; padding-right: 20px; }
.reviews-star { width: 36%; }
.survey-results { margin-top: 20px; width: 62%; }
.take-survey { margin-top: 20px; width: 36%; }
.dr-exp ul li a, .dr-exp .view-all, .survey-results ul li a { padding-left: 15px; }
.more-spec-bg { padding: 15px 0px 0px; }
.more-spec-bg h3 { line-height: 22px; font-size: 18px; }
.more-sergen-colm { padding-top: 15px; padding-bottom: 15px; }
.more-sergen-colm figure { width: 15%; }
.more-sergen-colm .more-sergen-disc { width: 85%; padding-left: 10px; }
.more-sergen-colm .more-sergen-disc h5 { font-size: 14px; margin-bottom: 3px; }
}
@media(max-width:767px) {
body { font-size: 14px; line-height: 20px; }
/*-- Header Style Start Here --*/
header.header { padding-bottom: 10px; }
.custom-navbar .navbar-toggle { border: 1px solid #0580ed; margin-right: 0px; margin-top: 6px; outline: none; margin-bottom: 0px; }
.custom-navbar .navbar-toggle .icon-bar { width: 25px; height: 3px; background: #0580ed; outline: none; }
.custom-navbar .navbar-brand { padding: 0px; line-height: normal; max-width: 200px; }
.custom-navbar .navbar-nav { float: none; margin: 10px 0px 0px; }
.custom-navbar .navbar-collapse { max-height: inherit; padding: 0px; }
.custom-navbar .navbar-nav>li>a { padding: 8px 0px; font-size: 15px; line-height: normal; font-weight: normal; }
.custom-navbar { margin-top: 10px; }
/*-- Header Style End Here --*/

.banner .carousel-caption { position: static; padding-bottom: 10px; }
.banner .carousel-caption .formfield, .banner .carousel-caption .formbtn { padding: 10px 15px 0px; background: none; }
.banner .carousel-caption form input, .carousel-caption form select { height: 34px; }
.banner .carousel-caption form input[type="submit"] { font-size: 15px; line-height: 34px; }
.welcome-nationwide { padding-top: 30px; padding-bottom: 25px; }
.welcome-nationwide h2 { margin-bottom: 15px; font-size: 27px; }
.welcome-nationwide>p { font-size: 15px; }
.nationwide-services { margin-top: 12px; }
.nationwide-services h4 { font-size: 16px; }
.find-specialist { text-align: center; padding: 30px 0px; }
.find-specialist-disc h2 { display: block; margin-right: 0px; font-size: 25px; }
.find-spec-colm h4 { display: block; min-width: inherit; }
.find-spec-colm ul li { margin-bottom: 15px; display: inline-block; width: 49%; vertical-align: top; line-height: normal; text-align: left; padding-right: 10px; }
.find-spec-colm .view-all { margin-top: 10px; float: left; }
.benefit-feature-row { margin-top: 30px; }
.physician-benefits { padding-right: 15px; }
.physician-benefits h3, .features-physician h3 { text-align: center; margin-bottom: 25px; font-size: 25px; }
.physician-benefits ul li a { font-size: 14px; padding-bottom: 8px; margin-bottom: 8px; }
.feat-phys-img { width: 30%; }
.feat-phys-img img { width: 100%; }
.feat-phys-detail { padding-top: 10px; width: 70%; padding-left: 5px; }
.feat-phys-detail h4 { font-size: 17px; margin-bottom: 5px; }
.features-physician .carousel-control { top: -50px; }
.features-physician { margin-top: 30px; }
.more-phys { font-size: 20px; margin-top: 15px; padding: 0px 15px; line-height: 44px; }
.more-phys:before { right: 15px; font-size: 16px; line-height: 45px; }
.footer h3, .footer h4 { margin-bottom: 12px; font-size: 18px; }
.quick-links ul li { margin-bottom: 10px; }
.quick-links ul li a { padding-left: 12px; }
.footer-colm { margin-top: 25px; }
.footer-colm:nth-of-type(2n+1) { clear: left; }
.footer { padding-top: 0px; margin-top: 35px; }
.newsletter form { margin-bottom: 20px; margin-top: 12px; }
.newsletter form input { margin-bottom: 12px; }
.copyrights-sect { padding: 12px 0px; margin-top: 30px; text-align: center; }
.copyrights-sect p { font-size: 12px; }
.left-content { margin-top: 30px; }
.provider-colm h2 { font-size: 24px; text-align: center; }
.checkbox-cont ul { padding: 15px 15px 10px; text-align: left; }
.checkbox-cont ul li { margin-bottom: 5px; width: 49%; }
.sortby span { display: block; margin-bottom: 10px; }
.sortby { padding: 12px 15px; text-align: center; }
.sortby ul li a { padding: 0px 15px 0px 17px !important; }
.dr-list-img figure { padding: 4px; border: 1px solid #e4e4e4; }
.dr-listing { margin-top: 25px; }
.dr-list-img { width: 15%; }
.dr-list-det { width: 85%; padding-left: 0px; }
.dr-list-det .dr-address { padding-left: 20px; }
.dr-job li a { padding-left: 20px; }
.checkbox-cont ul li label { padding-left: 20px; }
.checkbox-cont ul li label input { width: auto; height: auto; margin-top: 3px; }
.dr-job, .dr-contact { margin-top: 10px; width: 49%; }
.dr-job li a:before { top: 2px; }
.patient-satisfication span { width: 49%; }
.dr-listing-colm { padding-bottom: 20px; margin-bottom: 20px; }
.pager-row .pagination { text-align: center; }
.pager-row .pagination li { margin: 0px 5px; }
.sidebar { margin-top: 25px; }
.popular-searches { padding: 15px 15px; text-align: center; }
.popular-searches ul { text-align: left; margin-top: 12px; }
.popular-searches ul li { margin-bottom: 12px; }
.popular-searches ul li a { padding-left: 20px; }
.sidebar figure img { width: 100%; }
.lt-nes-colm figure { width: 15%; }
.lt-nes-colm .lt-news-title { width: 84%; padding-left: 15px; }
.lt-nes-colm { padding-top: 15px; padding-bottom: 15px; }
.provider-colm h2 { font-size: 22px; }
.latest-news h3 { text-align: center; }
.dr-det-prof { padding: 25px 0px; text-align: center; }
.prof-img figure { display: inline-block; }
.prof-img figure img { width: auto; }
.prof-disc { margin-top: 10px; }
.prof-disc h1 { font-size: 26px; margin-bottom: 5px; }
.abt-dr { font-size: 18px; margin-bottom: 18px; }
.dr-det-left { width: 100%; }
.dr-det-right { border-left: none; padding-left: 0px; width: 100%; margin-top: 10px; }
.btn-links { margin-top: 20px; }
.btn-links .btn { margin: 0px 3px; padding: 9px 15px; font-size: 12px; letter-spacing: 0.5px; }
.abt-dr ul li:before { top: 2px; }
.tab-links { margin-top: 30px; }
.dr-tabs.nav-tabs>li>a { font-size: 14px; padding: 4px 12px; }
.dr-tabs.nav-tabs>li { margin: 5px 3px 3px; display: inline-block; float: none; }
.dr-tabs.nav-tabs>li>a em { display: none; }
.dr-tabs.nav-tabs { text-align: center; }
.dr-title { margin-bottom: 10px; text-align: center; }
.dr-title span { font-size: 18px; margin-bottom: 5px; line-height: normal; }
.dr-title h2 { font-size: 27px; }
.icon-colm .fa { width: 45px; line-height: 45px; font-size: 24px; }
.det-title { padding-left: 60px; padding-top: 0px; }
.det-title h3 { font-size: 22px; margin-bottom: 5px; }
.det-title span { font-size: 13px; }
.phone-address-bg { padding: 15px; }
.dr-det-btm { margin-top: 20px; }
.phone-address-bg address { width: 50%; line-height: normal; }
.phone-address-bg .gmap { width: 50%; min-height: 190px; }
.phone-address-bg .btn-links .btn { margin: 0px 1px; padding: 9px 10px; font-size: 12px; }
.phone-address-bg .btn-links { margin-top: 20px; }
.dr-exp { width: 100%; padding-right: 0px; }
.quote-colm { padding: 20px 20px; width: 100%; margin-top: 20px; }
.quote-colm p { line-height: normal; }
.dr-det-sect { padding-bottom: 25px; }
.hospital-quality-bg { padding: 15px; }
.hospital-left ul li { margin-top: 15px; }
.reviews-disc { width: 55%; padding-right: 20px; }
.reviews-star ul.pt-satisf li { padding: 0px 3px; }
.reviews-star ul.pt-satisf li a { font-size: 20px; }
.reviews-star ul.pt-satisf { padding: 10px 8px; }
.hospital-left h4 { font-size: 16px; }
.more-spec-bg h3 { text-align: center; }
.more-spec-bg { padding: 15px 0px 0px; }
.dr-tab-cont .accordion-group { margin-bottom: 10px; border: none; border-radius: 2px; float: left; width: 100%; }
.dr-tab-cont .accordion-inner { padding: 10px 0px; float: left; width: 100%; }
.dr-tab-cont .accordion-heading { background: none; border-bottom: none; }
.dr-tab-cont .accordion-heading .accordion-toggle { border: 1px solid #e7e7e7; color: #626567; font-size: 18px; background: #f2f2f2; padding: 8px 15px; text-align: center; position: relative; font-weight: bold; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; }
.dr-tab-cont .accordion-heading .accordion-toggle:hover, .dr-tab-cont .accordion-heading .accordion-toggle:focus, .dr-tab-cont .accordion-heading .accordion-toggle.active { color: #f2f2f2; box-shadow: none; background: #4ed963; border: 1px solid #43be56; }
}
@media(max-width:479px) {
.welcome-nationwide h2 span, .physician-benefits h3 span { border-bottom: none; }
.header-top { padding-top: 10px; padding-bottom: 10px; }
.header-top .log-in ul li { margin-left: 10px; }
.header-top .log-in ul li a em { display: none; }
.header-top .dropdown.social-links { float: right; padding: 0px 15px; line-height: normal; display: block; }
.header-top .dropdown.social-links .dropdown-menu { left: auto; right: 15px; min-width: 230px; padding: 0px; background-color: #f2f2f2; border: 1px solid rgba(123, 127, 129, 0.14); box-shadow: none; margin: 15px 0px 0px; text-align: center; }
.header-top .dropdown.social-links ul li { display: inline-block; margin-left: 0px; }
.header-top .dropdown.social-links ul li a { font-size: 15px; padding: 5px 10px; }
.header-top .dropdown.social-links ul li a:hover, .header-top .dropdown.social-links ul li a:focus, .header-top .dropdown.social-links ul li a:active { background: none; color: #0374d8; }
.header-top .social-links { display: none; }
.custom-navbar .navbar-brand { max-width: 180px; }
.custom-navbar .navbar-toggle { margin-top: 3px; }
.formfield, .banner .carousel-caption .formbtn { width: 100%; }
.welcome-nationwide h2 { margin-bottom: 12px; font-size: 22px; }
.feat-phys-detail h4 { font-size: 16px; }
.welcome-nationwide>p { font-size: 14px; }
.find-specialist-disc h2 { font-size: 22px; }
.find-spec-colm ul li { margin-bottom: 12px; text-align: center; width: 100%; padding-right: 0px; }
.find-spec-colm .view-all { float: none; }
.physician-benefits h3, .features-physician h3 { margin-bottom: 15px; font-size: 22px; }
.features-physician .carousel-control { top: -40px; }
.features-physician .carousel-control.left { left: 0px; right: auto; }
.physician-benefits ul { padding-left: 25px; }
.physician-benefits ul li a:before { left: -25px; }
.find-spec-colm h4 { font-size: 16px; }
.footer { text-align: center; }
.footer-colm { margin-top: 25px; width: 100%; border-bottom: 1px solid #fff; padding-bottom: 25px; }
.footer-colm:last-of-type { border-bottom: none; padding-bottom: 0px; }
.latest-forum-post ul li { float: none; padding: 0px 5px 0px 7px; margin: 0px; display: inline-block; vertical-align: top; }
.latest-forum-post ul li:first-child { padding-left: 7px; }
.footer h3, .footer h4 { font-size: 20px; }
.quick-links ul li a { padding-left: 0px; }
.quick-links ul li a:before { display: none; }
.footer .social-links ul li { margin: 0px 8px; }
.sortby ul li a { padding: 0px 5px 0px !important; border-left: none; }
.dr-list-img { width: 24%; }
.dr-list-det { width: 76%; }
.dr-list-det h4 { font-size: 16px; margin-bottom: 8px; }
.dr-job, .dr-contact { width: 100%; }
.patient-satisfication span { width: 100%; margin-bottom: 5px; }
.patient-satisfication { margin-top: 10px; }
.dr-job li, .dr-contact li { margin-bottom: 2px; }
.pager-row .pagination li { margin: 0px 1px; }
.pagination>li>a, .pagination>li>span { font-size: 14px; min-width: 28px; line-height: 28px; }
.abt-dr { margin-bottom: 10px; }
.prof-disc .btn-links .btn { margin: 0px 3px 10px; }
.phone-address-bg address { width: 100%; }
.phone-address-bg .gmap { width: 100%; min-height: 200px; margin-top: 15px; }
.phone-address-bg { text-align: center; }
.phone-address-bg .btn-links .btn { margin: 3px 1px; }
.dr-exp h5 { text-align: center; }
.hospital-left { padding-right: 0px; width: 100%; }
.hospital-quality-bg { padding: 15px; text-align: center; }
.hospital-right { width: 100%; }
.hospital-right ul li:first-child { margin-top: 20px; }
.det-title span { font-size: 14px; line-height: 17px; }
.reviews-disc { width: 100%; padding-right: 0px; margin-bottom: 10px; }
.reviews-star { width: 100%; }
.reviews-star ul.pt-satisf li a { font-size: 24px; }
.reviews-star ul.pt-satisf li { padding: 0px 8px; }
.survey-results { padding-right: 0px; width: 100%; }
.take-survey { margin-top: 15px; width: 100%; }
.more-spec-bg h3 { font-size: 19px; line-height: 24px; }
.more-sergen-colm .more-sergen-disc h5 { font-size: 17px; margin-bottom: 5px; }
.more-sergen-colm .more-sergen-disc { padding-left: 15px; }
.more-sergen-colm { padding-top: 20px; padding-bottom: 20px; }
}
